<p id="notice"><%= notice %></p>

<p>
  <strong>Guest:</strong>
  <%= @list.guest %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @list.reservation %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
